body {
    margin: 0;
    background-color: #F7F6F2;
  }

 a{
  text-decoration: none;
  color: #000;
 } 

 .maillink{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
 }

 .maillink:hover{
  color:#10289E;
  text-shadow: 2px 2px #FFC5E9;
 }

 .center{
  text-align: center;
  margin:auto;
 }

 .right{
  text-align: right;
 }

 .left{
  text-align: left;
  margin-top: -2vw;
 }

 .justify{
  text-align: justify;
 }

/*--------typografi---------*/
  
  h2{
  font-family: "campaign-serif", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
  line-height: 1em;
  margin-top: 1vh;
}

h3{
  font-family: "campaign-serif", sans-serif;
  font-weight: 300;
  font-size: 2.5vw;
  line-height: 1em;
  margin-top: 2vh;
}

  h4{
    font-family: "campaign-serif", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 3vw;
   line-height: 1em;
   margin-top: 2vh;
  }

h6{
  font-family: "campaign-serif", sans-serif;
  font-weight: 300;
  font-size: 2vw;
  line-height: 1em;
  margin-top: 2vh;
}

  p{
    font-family: "quicksand", sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
  }

  p b{
    font-weight: 500;
  }

/*------------typografi mobil---------*/

@media screen and (max-width: 768px) {
  h2{
    font-family: "campaign-serif", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12vw;
  margin-top: 5vh;
  }

  h3{
    font-family: "campaign-serif", sans-serif;
    font-weight: 400;
    font-size: 8vw;
    margin-top: 3vh;
  }

  h4{
    font-family: "campaign-serif", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 6vw;
   line-height: 1em;
   margin-top: 0vw;
  }

  h5{
    font-family: "quicksand", sans-serif;
    font-size: 6vw;
    font-weight: 300;
    text-transform: uppercase;
  }

  h6{
    font-family: "campaign-serif", sans-serif;
    font-weight: 300;
    font-size: 6vw;
    line-height: 1.2em;
  }

  p{
    font-family: "quicksand", sans-serif;
    font-size: 4.5vw;
    font-weight: 300;
  }
}

/*-------------button---------------*/
.btn{
  background-color: #D3DDE6;
  border: none;
  padding: 1vw 2vw 1vw 2vw;
  margin-top: 3vh;
  color: #000;
  font-family: "quicksand", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.btn:hover {
  background-color: #FFC5E9;
}

@media screen and (max-width: 768px) {
.btn{
  font-size: 4.5vw;
  padding: 3vw 6vw 3vw 6vw;
  margin-top: 6vw;
}
}
/*-------------generelle------------*/
  .forsidebillede{
    width: 100vw;
    height: 53vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -17vh;
    margin-bottom: 5vh;
  }

  .forsidevideo{
    width: 100vw;
    height: 58vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -17vh;
    margin-bottom: 0vh;
  }

  .billede100{
    width: 100%;
    height: 100%;
  }

  .fit{
    width:85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:7vw;
  }

  .fitudenmargin{
    width:85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .kolonner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4vw;
  }

  .aligncenter{
    align-items: center;
  }
  
  .reversekolonner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4vw;
  }
  
  .halvkolonne{
    width:45%;
    height: auto;
    padding-right:2vw;
  }

  .mellemkolonne1{
    width: 41%;
    height: auto;
    padding-right: 4vw;
    display: flex;
  }

  .mellemkolonne1-2{
    width: 41%;
    height: auto;
    padding-right: 4vw;
  }

  .mellemkolonne2{
    width: 52%;
    height: auto;
    padding-right: 0vw;
  }

  .mellemkolonne3{
    width: 52%;
    height: auto;
    padding-right: 0vw;
  }

  .mellemkolonne4{
    width: 56%;
    height: auto;
    padding-right: 2vw;
  }

  .mellemkolonne5{
    width: 40%;
    height: auto;
    padding-right: 0vw;
  }

  .mellemkolonne4vendt{
    width: 62%;
    height: auto;
    padding-right: 0vw;
  }

  .mellemkolonne5vendt{
    width: 34%;
    height: auto;
    padding-right: 2vw;
  }
  
  .lillekolonne{
    width: 36%;
    height:auto;
  }
  
  .storkolonne{
    width: 60%;
    height: auto;
    padding-right: 1vw;
    margin:auto;
  }
  
  .storkolonnehøjre{
    width: 60%;
    height: auto;
    padding-right: 1vw;
    margin:auto;
    text-align: right;
  }

  .trekolonner{
    width: 30%;
    height: auto;
    padding-right: 2vw;
  }

  .trekolonner1{
    width: 31%;
    height: auto;
    padding-right: 1vw;
  }

  .firekolonner{
    width: 23%;
    height: auto;
    padding-right: 1vw;
  }

  .tilbage{
    font-family: "quicksand", sans-serif;
    font-weight: 400;
    font-size: 1.3vw; 
    color: #000;
    line-height: 100%;
    text-decoration: underline;
}

.projekterfittilbage{
  width:80%;
  margin: auto;
  text-align: left;
}

  /*--------generelle mobil----------*/
  @media screen and (max-width: 768px) {
    .marginbottomM{
      margin-bottom: 40vw;
    }
    .forsidebillede{
    height: 220vw;
    margin-top: -12vh;
    margin-bottom: 4vh;
    }

    .fit{
      width: 90%;
      margin:auto;
    }

  .fitudenmargin{
    width: 90%;
    margin:auto;
    }
  
  .kolonner{
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2vw;
      margin-bottom: 7vw;
  }
  
  .reversekolonner{
      width:100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin:auto;
  }
  
  .halvkolonne{
      width:95%;
      margin:auto;
  }
  
  .lillekolonne{
    width:95%;
    margin:auto;
  }
  
  .storkolonne{
    width:95%;
    margin:auto;
  }

  .mellemkolonne1{
    width:95%;
    margin:auto;
  }

  .mellemkolonne1-2{
    width:95%;
    margin:auto;
    margin-bottom: 10vw;
  }

  .mellemkolonne2{
    width:95%;
    margin:auto;
  }

  .mellemkolonne3{
    width:95%;
    margin-right:10vw;
  }

  .mellemkolonne4{
    width:95%;
    margin:auto;
  }

  .mellemkolonne5{
    width:95%;
    margin:auto;
  }

  .mellemkolonne4vendt{
    width:95%;
    margin:auto;
  }

  .mellemkolonne5vendt{
    width:95%;
    margin:auto;
  }
  
  .storkolonnehøjre{
    width:95%;
    text-align: left;
    margin:auto;
    margin-bottom: 10vw;
  }

  .trekolonner{
    width:95%;
    margin:auto;
  }

  .trekolonner1{
    width:95%;
    margin:auto;
  }

  .firekolonner{
    width: 95%;
    margin: auto;
  }

  .billede100{
    margin:auto;
  }

  .tilbage{
    font-family: "quicksand", sans-serif;
    font-weight: 400;
    font-size: 5vw; 
    color: #000;
    line-height: 100%;
    text-decoration: underline;
}

.projekterfittilbage{
  width:80%;
  margin: auto;
  text-align: left;
  padding-bottom: 10vw;
}
  }
  
  /*header*/
  
  header {
    position: sticky;
    z-index: 1000;
    top:0;
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "quicksand", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .logo img {
    height: 70px; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 40px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
  .burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 35px; /* Adjusted height */
    cursor: pointer;
    position: relative;
    top: 0px; /* Adjusted position */
  }
  
  .burger-menu span {
    width: 100%;
    height: 3px; /* Adjusted height */
    background-color: black;
    display: block;
    transition: all 0.3s ease;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .burger-menu span:nth-child(1) {
    transform: translateY(16px) rotate(45deg); /* Adjusted rotation and translation */
  }
  
  input[type="checkbox"]:checked + .burger-menu span:nth-child(2) {
    opacity: 0;
  }
  
  input[type="checkbox"]:checked + .burger-menu span:nth-child(3) {
    transform: translateY(-16px) rotate(-45deg); /* Adjusted rotation and translation */
  }
  
  @media screen and (max-width: 768px) {
    header {
        position: sticky;
        top: 0;
      }

    .logo {
      order: 1;
    }

    .logo img {
        height: 50px; 
      }
    
    nav {
      order: 2;
      margin-left: auto;
    }
  
    nav ul {
      flex-direction: column;
      align-items: flex-end;
      background-color: rgba(255, 255, 255, 0.7); 
      position: absolute;
      top: 110px; 
      right: 0;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    input[type="checkbox"]:checked + .burger-menu + ul {
      max-height: 800px; /* Adjust as needed */
    }
  
    .burger-menu {
      display: flex;
    }
  }
  
  /* Added styles for full page overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity and color as needed */
    z-index: 1000; /* Ensure it's above other content */
    display: none;
  }
  
  .overlay.active {
    display: block;
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay-content ul {
    padding: 0;
  }
  
  .overlay-content ul li {
    margin: 20px 0;
  }
  
  .overlay-content ul li a {
    color: white;
    font-size: 20px;
  }
  
  .overlay-content img {
    display: block;
    margin: 0 auto 10px;
  }

/*--------------footer-------------*/
footer{
  background-color: #D3DDE6;
  padding: 7vw 5vw 3vw 5vw;
}

.footerkolonner{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footervenstre{
  width: 50%;
  text-align: left;
}

.footerhojre{
  width: 50%;
  text-align: right;
}

.mobilfooter{
  display: none;
}

.someikoner{
  width: 4vw;
}

@media screen and (max-width: 768px) {
  .footerkolonner{
    display: none;
  }
  
  .footervenstre{
    display:none;
  }
  
  .footerhojre{
    display:none;
  }

  .mobilfooter{
    display: block;
    padding: 8vh 2vh 2vh 2vh;
  }

  .someikoner{
    width: 10vw;
  }
}

/*--------------index--------------*/
#indexforside{
    background-image: url("images/indexforside.jpg");
}

@media screen and (max-width: 768px) {
    #indexforside{
        background-image: url("images/indexforsideM.jpg");
    }
}

/*--------------portfolio--------------*/
#portfolioforside{
  background-image: url("images/portfolio.png");
  width: 90vw;
  height: 45vw;
  background-size: cover;
  margin-top: 5vh;
  margin-bottom: 15vh;
  margin: auto;
}

#portfolioforside1{
  background-image: url("images/portfolio.png");
  width: 90vw;
  height: 45vw;
  background-size: cover;
  margin: -3vw 5vw 5vw 5vw;
}

.portfoliobilleder{
  width: 100%;
  height: 35vw;
}

.portfoliovideo{
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

.portfolioalj{
  background-image: url("images/portfolioalj.jpeg");
  background-size: cover;
  background-position: center;
}

.portfolioN{
  background-image: url("images/portfolioN.jpg");
  background-size: cover;
  background-position: center;
}

.portfolioBH{
  background-image: url("images/portfolioBH.jpg");
  background-size: cover;
  background-position: center;
}

.portfolioS{
  background-image: url("images/portfolioS.jpg");
  background-size: cover;
  background-position: center;
}

.portfolioI{
  background-image: url("images/portfolioI.jpeg");
  background-size: cover;
  background-position: center;
}

.nysgerrigpamere{
  width:85%;
  margin: auto;
  margin-bottom:7vw;
}

.nysgerrigpamereM{
  display: none;
}

@media screen and (max-width: 768px) {
  #portfolioforside{
      background-image: url("images/portfolioM.png");
      width: 90vw;
      height: 42vw;
      margin-top: 7vh;
      margin-bottom: 5vh;
  }

  #portfolioforside1{
    background-image: url("images/portfolioM.png");
    width: 90vw;
    height: 42vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

  .portfoliobilleder{
    width: 100%;
    height: 55vh;
    margin-top: 2vh;
  }
  .portfoliovideo{
    width: 100%;
    height: 55vh;
    margin-top: 2vh;
    object-fit: cover;
  }

  .nysgerrigpamereM{
    width: 90%;
    margin: auto;
    display: block;
    padding-bottom: 20vw;
  }

  .nysgerrigpamere{
    display: none;
  }

}

/*--------------kontakt-------------*/
.kontaktforside{
  width: 100vw;
  height:45vw;
  background-image: url("images/kontakt.png");
  background-size: cover;
  margin-top: -2vw;
}

.kontaktforside h4{
  font-size: 2.3vw;
  padding-top: 27vw;
  padding-right: 5vw;
}

.kontaktboks{
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 15vw;
  margin-top: 8vw;
}

.someikonerkontakt{
  width: 5vw;
  padding: 0.5vw;
}

.someboks{
  width: 25vw;
}

.tag{
  width: 20vw;
}

.tag p{
  font-size: 1.8vw;
}

@media screen and (max-width: 768px) {
  .kontaktboks{
    display: none;
  }

  .kontaktforside{
    display:none;
  }

  .kontaktforsideM{
    width: 95vw;
    height: 35vw;
    background-image: url("images/nysgerrigM.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin:auto;
    margin-bottom: 8vw;
  }

  .tagp{
    font-size: 6vw;
  }

  .someikonerkontakt{
    width: 15vw;
    padding: 0.5vw;
  }
  
  .someboks{
    width: 70vw;
    text-align: center;
    margin:auto;
    margin-top: 5vw;
  }
}

/*-----------------om mig---------------*/
.ommigkolonner{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: -8vw 3vw 5vw -5vw;
}

.ommighalvkolonne{
  width:47%;
  height: auto;
}

.ommigforsideimg{
  width: 100%;
  height: 52vw;
  margin-right:5vw;
}

.ommigforsidetxt{
  margin-left: 5vw;
}

.goddag{
  width: 100%;
  height: auto;
  margin-top: 8vw;
}

.ommigfit{
  display:none;
}

.ommigforsideM{
  display: none;
}

.hurtige{
  font-family: "campaign-serif", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 1em;
}

.detsigerandre{
  width: 85%;
  margin: auto;
  margin-bottom: -7vw;
}

.citat{
  font-size: 1.4vw;
}

.citatimg{
  width: 45%;
  border-radius: 50%;
  filter: grayscale(100%);
  margin-left: 7vw;
  margin-top: 5vw;
}

.person{
  font-family: "campaign-serif", sans-serif;
  font-weight:400;
}

.titel{
  font-family: "campaign-serif", sans-serif;
  font-style: italic;
}

.skills{
  width: 100%;
  height: auto;
}

.skillsM{
  display:none;
}

.soger{
  font-size: 4vw;
}

.sogerimg{
  width: 90%;
  height: 40vw;
  margin-left: 3vw;
}

@media screen and (max-width: 768px) {
  .ommigkolonner{
    display: none;
  }

  .ommigfit{
    width:90%;
    margin: auto;
    margin-bottom:7vw;
    display: block;
  }

  .ommigforsideM{
    background-image: url("images/stol.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 157vw;
    margin-top: -12vh;
    margin-bottom: 1vh;
    display: block;
    }

    .goddagM{
      width: 100%;
    }

    .hurtige{
      font-family: "campaign-serif", sans-serif;
      font-weight: 400;
      font-size: 6vw;
      line-height: 1.5em;
    }

    .hurtige p{
      font-size: 5.5vw;
    }

    .citat{
      font-size: 5vw;
    }

    .person{
      font-family: "campaign-serif", sans-serif;
      font-weight:400;
      font-size: 5vw;
    }
    
    .titel{
      font-family: "campaign-serif", sans-serif;
      font-style: italic;
      font-size: 5vw;
    }

    .citatimg{
      width: 60%;
      border-radius: 50%;
      filter: grayscale(100%);
      margin-left: 17vw;
      margin-top: 5vw;
    }

    .detsigerandre{
      width: 85%;
      margin: auto;
      margin-bottom: -7vw;
    }

    .detsigerandre h2{
      font-size: 11vw;
    }

    .skills{
      display:none;
    }

    .skillsM{
      width: 90%;
      margin: auto;
      margin-top: 10vw;
      display: block;
    }

    .soger{
      font-size: 10vw;
    }
    
    .sogerimg{
      width: 90%;
      height: auto;
      margin-top: 15vw;
    }
  }

/*-------------projekter generelt--------------*/
.projektertopV{
  width: 35%;
  padding: 0 5vw 0 5vw;
  text-align: left;
}

.projektertopV h3{
  font-size: 5.5vw;
  font-weight:400;
}

.projekterh2{
  font-size: 4vw;
  margin: 0;
}

.projektertopH{
  width: 35%;
  padding: 0 5vw 0 5vw;
  text-align: right;
}

.projekterfit{
  width:80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:7vw;
  margin-top: -7vw;
}

.projekterfit1{
  width:80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:7vw;
  margin-top: -7vw;
}

.projektimg1{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .projektertopV{
    width: 95%;
    margin: auto;
    text-align: left;
  }
  
  .projektertopV h3{
    font-size: 14vw;
    font-weight: 400;
    margin-bottom: 10vw;
  }

  .projekterh2{
    font-size: 12vw;
    margin: 0;
  }
  
  .projektertopH{
    width: 90%;
    margin:auto;
    margin-top: -2vw;
    margin-bottom: -2vw;
    text-align: left;
  }

  .projekterfit{
    width: 90%;
    margin: auto;
    margin-top: -12vw;
  }

  .projekterfit1{
    width: 90%;
    margin: auto;
    margin-top: 10vw;
  }

  .projektimg1{
    width: 100%;
    height: auto;
    margin-top: 5vw;
    margin-bottom: 15vw;
  }

  .projektmargin{
    margin-top: 10vw;
  }
}
/*-----------------Anna Linn Jewellery--------*/
#aljforside{
  background-image: url("images/aljforside.jpg");
  background-position: 50% 85%;
}

#aljvideo{
  width: 85%;
}

#aljinstah3{
  font-size: 4vw;
  font-weight: 400;
}

.aljlilleimg{
  width: 100%;
  height: 49%;
  margin-bottom: 0.7vw;
}

.aljlilleimg1{
  width: 100%;
  height: 49%;
}

@media screen and (max-width: 768px) {
  #aljinstah3{
    font-size: 10vw;
    font-weight: 400;
  }

  #aljvideo{
    width: 100%;
    margin-bottom: 20vw;
  }
}

/*-----------Neglementet--------*/
#neglementetforside{
  background-image: url("images/neglementetforside.jpg");
  background-position: center;
}

.pdfN{
  width: 100%;
  height: 600px;
  margin: 5vw;
}

@media screen and (max-width: 768px) {
  .pdfN{
    display: none;
  }
}

/*--------Botanisk Have--------*/
#botaniskforside{
  background-image: url("videos/botaniskforside.mp4");
}

/*--------Spotify---------*/
.spotifyforside{
  margin-top: 5vw;
}
.spotifyh3{
  margin: 0 0 2vw 0;
}
.spotifyh6{
  margin: 0;
}

.flyer{
  display:none;
}

.begivenhedfb{
  width:76%;
  margin: auto;
  margin-right: 12.5vw;
  margin-bottom:7vw;
  margin-top: -6vw;
}

@media screen and (max-width: 768px) {
  .spotifyh3{
    margin: 0 0 7vw 0;
  }

  .flyer{
    display: block;
  }

  .begivenhedfb{
    width:85%;
    margin:auto;
    margin-bottom: 10vw;
    margin-top: -5vw;
}
}

/*--------------Illustrationer--------*/

#illustrationerforside{
  background-image: url("images/illustrationerforside.jpg");
  background-position: center;
}

.illustrationerh2{
  font-size: 4vw;
  margin-bottom: 2vw;
}

.margintop{
  margin-top: 4vw;
}

@media screen and (max-width: 768px) {
  .illustrationerh2{
    font-size: 12vw;
    margin-bottom: 10vw;
  }
}

/*-----------Content creation------*/
.margintop1{
  margin-top: -6vw;
}

.cch2{
  font-size: 8vw;
  margin-bottom: 2vw;
}

.tiktokvideo{
  width: 100%;
}

#myVideo {
  display: block;
  margin: 0 auto;
}

.firepastribe{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12vh;
}

.tiktokvideo{
  margin-top:3vh;
  width: 24%;
  height: 35vw;
  object-fit: cover;
  z-index: 1;
}

.videotitel{
  width: 80%;
  margin:auto;
  margin-bottom: -2vw;
}

@media screen and (max-width: 768px) {
  .tiktokvideo{
    margin-top:3vh;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }

  .firepastribe{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 12vh;
  }
}